body{
    background-color: mediumturquoise;
    width: 1024px;
    height: 960px;
    display: flex;
    flex-direction: row;
}

p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.logo{
    margin-top: 124px;
}



section{
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
}

.bg1{
    background-image: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: left -510px top -369px;

}
.bg2{
    background-image: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right -510px bottom -369px;
    
}
.card{
    width: 450px;
    height: 420px;
    background-color: white;
    border: 1px;
    border-radius: 50px 50px;
}
